img {
	max-width: 100%;
}

.list {
	display: flex;
	flex-wrap: wrap;
}

.list .item {
	position: relative;
	overflow: hidden;
	width: 400px;
	height: 300px;
}

.list .item img {
	height: 100%;
}

.list .item.effect1:hover .content {
	opacity: 1;
}

.list .item.effect1 .content {
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
}

.list .item.effect2:hover .content {
	transform: translateY(-100%);
}

.list .item.effect2 .content {
	top: 100%;
	left: 0;
	padding: 20px 0;
}

.list .item.effect3:hover .content {
	transform: translateY(-100%);
}

.list .item.effect3:hover img {
	transform: translateY(-20px);
}

.list .item.effect3 .content {
	top: 100%;
	left: 0;
	padding: 20px 0;
}

.list .item.effect4:hover .content {
	opacity: 1;
}

.list .item.effect4:hover img {
	transform: scale(1.2);
}

.list .item.effect4 .content {
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
}

.list .item .content {
	position: absolute;
	display: flex;
	width: 100%;
	transition: all .5s;
	color: white;
	background: rgba(51, 51, 51, .5);
	justify-content: center;
	align-items: center;
}

.list .item img {
	transition: all .5s;
}

