body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	height: 100vh;
	background: #ccc;
	align-items: center;
	justify-content: center;
}

input,
button {
	border: none;
	outline: none;
	background: none;
}

.flex {
	display: flex;
}

.todo-wrapper {
	position: relative;
	width: 500px;
	padding: 20px;
	border-radius: 5px;
	background: white;
}

.todo-wrapper:after,
.todo-wrapper:before {
	position: absolute;
	z-index: -1;
	bottom: 15px;
	width: 50%;
	height: 20px;
	content: '';
	background: red;
	background: #777;
	box-shadow: 0 15px 10px #777;
}

.todo-wrapper:after {
	right: 0;
	right: 5px;
	transform: rotate(3deg);
}

.todo-wrapper:before {
	left: 0;
	left: 5px;
	transform: rotate(-3deg);
}

.todo-wrapper form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.todo-wrapper form h2 {
	margin-bottom: 20px;
}

.todo-wrapper form .todo-input {
	font-size: 20px;
	padding: 8px 10px;
	border: 1px solid #2a9d8f;
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	flex: 1;
}

.todo-wrapper form .todo-input.error {
	border-color: #e63946;
}

.todo-wrapper form .btn-add {
	padding: 0 20px;
	cursor: pointer;
	color: white;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #2a9d8f;
}

.todo-wrapper ul.todo-list {
	margin-top: 20px;
}

.todo-wrapper ul.todo-list li {
	display: flex;
	padding: 8px 0;
	transition: all .4s;
	border-bottom: 1px solid #2a9d8f;
	align-items: center;
}

.todo-wrapper ul.todo-list li #check {
	margin-right: 4px;
}

.todo-wrapper ul.todo-list li.done {
	text-decoration: line-through;
	color: #777;
}

.todo-wrapper ul.todo-list li #btn-delete {
	margin-left: auto;
	padding: 5px;
	cursor: pointer;
	color: #e63946;
}

