
@mixin xs() {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin sm() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin md() {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin lg() {
    @media (max-width: 1140px) {
        @content;
    }
}

@mixin xl() {
    @media (min-width: 1140px) {
        @content;
    }
}
