body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  font-family: "Roboto", sans-serif;
}

input,
button {
  outline: none;
  border: none;
  background: none;
}

$primary-color: #2a9d8f;

.flex {
  display: flex;
}

.todo-wrapper {
  width: 500px;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 5px;
  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: 15px;
    background: red;
    width: 50%;
    height: 20px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    z-index: -1;
  }
  &:after {
    right: 0;
    transform: rotate(3deg);
    right: 5px;
  }
  &:before {
    left: 0;
    transform: rotate(-3deg);
    left: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
    .todo-input {
      padding: 8px 10px;
      font-size: 20px;
      border: 1px solid $primary-color;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      flex: 1;
      border-right: none;
    }
    .btn-add {
      background: $primary-color;
      color: white;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0px 20px;
      cursor: pointer;
    }
  }

  ul.todo-list {
    margin-top: 20px;
    li {
      padding: 8px 0px;
      border-bottom: 1px solid $primary-color;
      display: flex;
      align-items: center;
      transition: all 0.4s;

      #check {
        margin-right: 4px;
      }
      &.done {
        text-decoration: line-through;
        color: #777;
      }
      #btn-delete {
        padding: 5px;
        color: #e63946;
        cursor: pointer;
        margin-left: auto;
      }
    }
  }
}
