
.news {
    width: 500px;
    border: 1px solid #9E9E9E;
    margin: 20px;
    img {
        width: 100%;
    }
    h2,p {
        padding: 10px;
    }

}

.mt-20 {
margin-top: 20px;
}

.bg-grey {
    background: grey;
    color: wheat;
}