@import "media";

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.f-grow-1 {
  flex-grow: 1;
}

// justify-content
@include rs-xs {
  .j-start {
    justify-content: flex-start;
  }
  .j-end {
    justify-content: flex-end;
  }

  .j-center {
    justify-content: center;
  }

  .j-between {
    justify-content: space-between;
  }

  .j-around {
    justify-content: space-around;
  }

  // align-items
  .a-start {
    display: flex;
    align-items: flex-start;
  }
  .a-end {
    display: flex;
    align-items: flex-end;
  }
  .a-center {
    display: flex;
    align-items: center;
  }
  .a-base {
    display: flex;
    align-items: baseline;
  }

  @for $var from 1 to 10 {
    .o-#{$var} {
      order: $var;
    }
  }
}

// justify-content
@include rs-sm {
  .j-sm-start {
    justify-content: flex-start;
  }
  .j-sm-end {
    justify-content: flex-end;
  }

  .j-sm-center {
    justify-content: center;
  }

  .j-sm-space {
    justify-content: space-between;
  }

  .j-sm-around {
    justify-content: space-around;
  }
  // align-items
  .a-sm-start {
    display: flex;
    align-items: flex-start;
  }
  .a-sm-end {
    display: flex;
    align-items: flex-end;
  }
  .a-sm-center {
    display: flex;
    align-items: center;
  }
  .a-sm-base {
    display: flex;
    align-items: baseline;
  }

  @for $var from 1 to 10 {
    .o-sm-#{$var} {
      order: $var;
    }
  }
}

// justify-content
@include rs-md {
  .j-md-start {
    justify-content: flex-start;
  }
  .j-md-end {
    justify-content: flex-end;
  }

  .j-md-center {
    justify-content: center;
  }

  .j-md-space {
    justify-content: space-between;
  }

  .j-md-around {
    justify-content: space-around;
  }
  // align-items
  .a-md-start {
    display: flex;
    align-items: flex-start;
  }
  .a-md-end {
    display: flex;
    align-items: flex-end;
  }
  .a-md-center {
    display: flex;
    align-items: center;
  }
  .a-md-base {
    display: flex;
    align-items: baseline;
  }
  @for $var from 1 to 10 {
    .o-md-#{$var} {
      order: $var;
    }
  }
}

// justify-content
@include rs-lg {
  .j-lg-start {
    justify-content: flex-start;
  }
  .j-lg-end {
    justify-content: flex-end;
  }

  .j-lg-center {
    justify-content: center;
  }

  .j-lg-space {
    justify-content: space-between;
  }

  .j-lg-around {
    justify-content: space-around;
  }
  // align-items
  .a-lg-start {
    display: flex;
    align-items: flex-start;
  }
  .a-lg-end {
    display: flex;
    align-items: flex-end;
  }
  .a-lg-center {
    display: flex;
    align-items: center;
  }
  .a-lg-base {
    display: flex;
    align-items: baseline;
  }
  @for $var from 1 to 10 {
    .o-lg-#{$var} {
      order: $var;
    }
  }
}
