* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  background: none;
  border: none;
  outline: none;
}
button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}
