* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}
input {
    outline: none;
    border: none;
}


button {
    border: none;
    background: none;
    outline: none;
}