// doi voi nhung the html,  khi khoi tao margin , padding...
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; // dung de trang tri text
  display: inline-block;
}

ul,
ol {
  list-style: none;
}
