// import files
@import "reset";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 20px;
  .logo {
    a {
      font-size: 28px;
      color: white;
    }
  }
  nav {
    ul {
      display: flex;
      li {
          color:white;
          margin-left: 40px;
         a {
          color: white;
          font-size: 18px;
          &:hover {
            color: green;
          }
         }
         &.line {
          width: 2px;
          height: 20px;
          background: white;
         }
      }

    }
  }
}