@import "reset";
@import "media";

// 320px
// 576px
// 768
// 992
// 1200

// @mixin - @include
@mixin markupText {
  color: yellow;
  background: red;
  font-size: 50px;
}

// rs 1 image
img {
  max-width: 100%;
}

// em, rem
// 1rem = 16px
html,
body {
  @include rs-xs {
    font-size: 13px;
  }
  @include rs-sm {
    font-size: 14px;
  }
  @include rs-md {
    font-size: 16px;
  }
}
// root*

.row {
  display: flex;
  flex-wrap: wrap;
  .col {
    // width: 25%;
    h2 {
      font-size: 1.5rem;
    }
    @include rs-xs {
      width: 100%;
    }
    @include rs-sm {
      width: 50%;
    }
    @include rs-md {
      width: 25%;
    }
  }
}
