// import files
@import "reset";

.products {
  display: flex;
  align-items: flex-start;
}
.item {
  margin-right: 20px;
  width: 300px;
  background: rgba(#333, 0.3);
  img {
    width: 100%;
  }
  &-content {
    padding: 10px;
    h2 {
      font-size: 18px;
    }
    .price {
      color: #e67e22;
    }
    .discount {
      .root {
        text-decoration: line-through;
      }
    }
    .review {
      display: flex;
      .stars {
        span {
          font-size: 13px;
          color: orange;
        }
      }
      .location {
        margin-left: auto;
      }
    }
  }
}
